body {
    font-family: "Simonetta", cursive;
}


@keyframes bouncy {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

#avatar {
    animation-name: bouncy;
    animation-duration: 3s ;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition: all 2s ease;
}



.max-viewport {
    min-height: 100vh;
}


#banner,
#contact,
#social {
    background: linear-gradient(
        rgba(139, 69, 19, 0.6), rgba(139, 69, 19, 0.6)),
        url(images/person.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio img {
    object-fit: contain;
    width: 434px;
    height: 270px;
}


.folios {
    overflow: hidden;
    transition: all 2s ease;
}


.folios:hover {
    outline: 10px solid rgba(139, 69, 19, 0.6);
    outline-offset: 0.6rem;
    transform: scale(1.2);

}